// ------------- Variables _______________

// COLOR VARIABLES
$color-primary-accent: #58e1c1;
$color-secondary-accent: #51ddfc;

$color-text-primary: #777;

$white: #fff;
$grey: #ccc;

// MQ VARIABLES
$brk-large: '(min-width: 768px)';
